{% extends 'base.html' %}

{% load static %}

{% block style %}

<style>
    .end_dance {
        animation: MoveUpDown 1s linear infinite;
    }

    @keyframes MoveUpDown {
        0%, 100% {
            bottom: -5px;
        }
        50% {
            bottom: 5px;
        }
    }

    #confettis {
        overflow: hidden;
        position: absolute;
        height: 90%;
        width: 100%;
    }
    .confetti {
        left: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        transform-origin: left top;
        animation: confetti 4s ease-in-out -2s infinite;
    }
    @keyframes confetti {
        0% {
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
        }
        25% {
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
        }
        50% {
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
        }
        75% {
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
        }
        100% {
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
        }
    }
    .confetti:nth-child(1) {
        left: 10%;
        animation-delay: 0;
        background-color: #fc0120;
    }
    .confetti:nth-child(2) {
        left: 20%;
        animation-delay: -5s;
        background-color: #8257e6;
    }
    .confetti:nth-child(3) {
        left: 30%;
        animation-delay: -3s;
        background-color: #ffbf4d;
    }
    .confetti:nth-child(4) {
        left: 40%;
        animation-delay: -2.5s;
        background-color: #fe5d7a;
    }
    .confetti:nth-child(5) {
        left: 50%;
        animation-delay: -4s;
        background-color: #45ec9c;
    }
    .confetti:nth-child(6) {
        left: 60%;
        animation-delay: -6s;
        background-color: #f6e327;
    }
    .confetti:nth-child(7) {
        left: 70%;
        animation-delay: -1.5s;
        background-color: #f769ce;
    }
    .confetti:nth-child(8) {
        left: 80%;
        animation-delay: -2s;
        background-color: #007de7;
    }
    .confetti:nth-child(9) {
        left: 90%;
        animation-delay: -3.5s;
        background-color: #63b4fc;
    }
    .confetti:nth-child(10) {
        left: 100%;
        animation-delay: -2.5s;
        background-color: #f9c4ea;
    }

    .card {
        transition: 0.3s;
        }
    
    .reveal {
        animation: wiggle 0.5s linear;
    }

    #card_common {
        box-shadow: 0 0 1000px rgb(180, 180, 180);
        }
    #card_common:hover {
        filter: brightness(110%);
        transform: scale(1.02);
        }

    #card_rare {
        box-shadow: 0 0 1000px rgb(141, 210, 233);
        }
    #card_rare:hover {
        filter: brightness(110%);
        transform: scale(1.02);
        }

    #card_epic {
        box-shadow: 0 0 1000px rgb(252, 129, 150);
        }
    #card_epic:hover {
        filter: brightness(110%);
        transform: scale(1.02);
        }

    #card_legendary {
        box-shadow: 0 0 1000px gold;
        }
    #card_legendary:hover {
        filter: brightness(110%);
        transform: scale(1.02);
        }

    @keyframes wiggle {

        15% {
            transform: rotateZ(-180deg);
        }
        20% {
            transform: rotateZ(13deg);
        }
        25% {
            transform: rotateZ(-13deg);
        }
        30% {
            transform: rotateZ(8deg);
        }
        35% {
            transform: rotateZ(-7deg);
        }
        40%, 100% {
            transform: rotateZ(0);

        }
    }

    @keyframes pulse {
        0% {
            transform: scale(0.95);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.95);
        }
    }

</style>

{% endblock style %}

{% block body %}

{% endblock body %}